<!doctype html>
<html>

<head>
  <title>Love Notes</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1> Love Notes <span class="fa fa-heart"></span></h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->

      <div class="text-center">
        <h2>Add a message</h2>
        <% if (user.local.email) { %>
        <form action="/messages" method="POST">
          <input type="text" value="<%= user.local.email %>" name="from">
          <input type="text" value="" placeholder="To: Lover" name="to">
          <input  class="text-area" type="text" placeholder="Note" name="note">
          <button type="submit">Submit</button>
        </form>
      </div>
      <% } %>

      <div class="text-center">
        <h3>Messages</h3>
        <ul class="messages">
          <% for(var i=0; i<notes.length; i++) {%>
          <li class="message" data-id='<%= notes[i]._id%>'>
            <span class="to">To:<%= notes[i].to %></span>
            <span class="from">From:<%= notes[i].from %></span>
            <span class="note">Note:<%= notes[i].note %></span>
            <span class="heart"><%= notes[i].heart %></span>
            <span><i class="fa fa-heart" aria-hidden="true"></i></span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
          </li>
          <% } %>
        </ul>

    </div>
  </div>

    <script src="main.js"></script>

</body>

</html>
